<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>whoSabiWork</name>

  <description>
      whoSabiWork.com mobile app.
  </description>

  <author href="https://www.whosabiwork.com" email="support@whosabiwork.com">
      Nna-ayua Okafor
  </author>
  <icon src="./Public/images/WhoSabiWorkLogo.png"></icon>

</widget>