fieldset {
	width:260px;
	border-radius: 4px;
}

#mainCustomerEditPage {
	color: #808080;
	min-height: 440px;
	overflow: hidden;
	width: 100%;
	background-color: #FFF;
}

#mainCustomerEditPage h2 {
	clear: both;
	text-align:center;
	background-color: #FFF;
	width: max-content;
	margin-right: auto;
	margin-left: auto;
}

.set_availability {
	border: thin solid grey;
	border-radius: 4px;
}

.divHeading {
	margin-top: 0px;
	text-align: center;
	background-color: #A51300;
	color: #FFF;
}

.divContent {
	padding: 5px;
}

.set_availability label {
	/* float:left; */
	width:100px;
}

.form_style {
	float:left;
}

.TabbedPanelsContent {
	min-height: 340px;
}

#comments {
	width: 600px;
	margin: 5px auto;
	background-color: #040D14;
	padding: 10px;
	/* min-height: 320px; */
	height: 450px;
	overflow: scroll;
	color: white;
}

.comment {
	margin-bottom: 1em;
	/* border-bottom: thin solid #fff; */ /* If you remove this also remove change the display for commentBody to inline */
	clear: both;
	overflow: hidden;
}

.commentBox {
	clear: both;
	overflow: hidden;
	display: block;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: small;
	width: auto;
}

.author {
	margin-bottom: 5px;
	display: inline;
}

.commentBody {
	background-color: #fff;
	color: #808080;
	/* display: inline; */ /* change with comment border-bottom style */
	padding: 5px;
	border-radius: 10px;
	/* margin: 10px 0px; */
}

.meta-info {
	font-size: 0.8em;
	margin-top: 5px;
	display: inline;
	float: right;
}

#makeComment {
	padding: 0px 10px; /* top-bottom left-right */
}

#authorDate {
	display: block;
	margin-bottom: 5px;
}

.replyBox {
	display: block;
	overflow: hidden;
	clear: both;
	margin-top: 5px;
}

.replyBtn, .replyBtn2 {
	float: right;
	border: none;
	margin-top: 3px;
	margin-bottom: 3px;
}

.replyContainer {
	clear: both;
	overflow: hidden;
}

.replyComment {
	display:block;
	clear: both;
	padding: 10px 0px 10px 30px;
	overflow: hidden;
}

#replyDiv {
	clear: both;
	display: none;
}

.replyTextarea, .replyTextarea2 {
	width: 100%;
	border-radius: 5px;
	padding: 5px;
	color: #808080;
	height: 33px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: small;
}

.submitReply, .submitReply2, .cancelReply {
	float: right;
	margin-top: 3px;
	border: none;
}

.displayAppointments {
	/* margin-left:10px; */
	width:690px;
	min-height:230px;
	overflow:hidden;
	float:right;
	/* padding:2px; */
	border:thin solid grey;
	border-radius: 4px;
}

.availabilityForm {
	width:285px;
	height:auto;
	float:left;
	padding:2px;
}

.schedule {
	float:none;
	/* border:thin ridge grey; */
	padding: 5px;
	margin-bottom:2px;
	height:auto;
	/* cursor:pointer; */
	border-bottom: thin solid gray;
	margin-left: 3px;
	margin-right: 3px;
}

.editClass {
	clear:both;
	border:thin solid grey;
	/* display:none; */
	padding: 5px;
}

.deleteSchedule {
	margin-left:10px;
	float: right;
}

.submitEditSch {
	float: right;	
}

.editButton {
	padding-left:10px; 
	cursor:pointer;
	margin-left: 10px;
}

.closeButton {
	padding-left:10px; 
	cursor:pointer;
}

.checkBoxBtnDiv {
	margin-bottom: 10px;
	overflow-y: hidden;
}

.hoursDiv {
	clear: both;
}

.hoursLabel {
	margin-right: 20px;
}

#timeUL {
	margin-top:0px; 
	padding:0px;
}

.timeList {
	float:left; 
	padding-right:30px; 
	display:block;
	list-style:none;
}

/* show */
/* #openDiv0 {
	display:true;
} */

/* hide */
/* #closeDiv0, #closeDiv1, #closeDiv2, #closeDiv3, #closeDiv4, #closeDiv5, #closeDiv6 {
	display:none;
} */
/* data */
#editTime0, #editTime1, #editTime2, #editTime3, #editTime4, #editTime5, #editTime6 {
	display:none;
}

.setUserAppointment {
	width:425px;
	height:auto;
	padding:5px; 
	border:thin solid grey;
	float:none;
	clear:both;
	margin:5px;
	border-radius: 4px;
}

.appointmentRequestList {
	width:450px;
	height:auto;
	float:left;
	border:2px solid grey;
	margin:2px;
	min-height: 340px;
	border-radius: 4px;
	overflow: hidden;
}

.acceptedAppointmentList {
	width:450px;
	height:auto;
	float:right;
	border:2px solid grey;
	min-height: 340px;
	border-radius: 4px;
	overflow: hidden;
}

.labelInfoStyle {
	float:left; 
	padding-right:5px; 
	margin-top:0px; 
	margin-bottom:0px; 
	font-weight:bold;
}

.labelValue {
	float:left; 
	margin-top:0px; 
	margin-bottom:0px; 
}

.userAppointDetails {
	clear:both; 
	width:440px;
	overflow: hidden;
	/* padding:1px; */
}

.feedbackInput {
	width: auto;
}

.linkStyleButton {
	color: #fff;
	/* font-family: "proxima nova"; */
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	border: solid 2px #fff;
	border-radius: 5px;
	padding: 2px 10px;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
	text-decoration: none;
}

.linkStyleButton:hover {
	background-color: #A51300;
	color: #fff;
}
.linkBtnDiv {
	margin-top: 15px;
}
.deleteLinkBtn {
	margin-top: 15px;
}
.deleteLinkBtn>a {
	color: #fff;
	/* font-family: "proxima nova"; */
	font-size: 12px;
	text-decoration: none;
}
.deleteLinkBtn>a:hover {
	color: #A51300;
}

#uploadPhotoBtn {
	color: #A51300;
	/* font-family: "proxima nova"; */
	// font-weight: bold;
	font-size: 16px;
	text-align: center;
	border: solid 2px #A51300;
	border-radius: 5px;
	padding: 2px 10px;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
	text-decoration: none;
	margin: 5px;
}
#uploadPhotoBtn:hover {
	background-color: #A51300;
	color: #fff;
}
#uploadCtrl {
    margin: 10px auto;
}

.photoUploadModal {
	width: 100%;
	/* height: 100%; */ /* height is set when image is clicked */
	/* We use rgba on the background-color here so that the child element will not inherit the its properties */
	/* background-color: black; */
	background-color: rgba(0, 0, 0, 0.5);
	/* opacity: 0.7; */
	position: fixed; /* absolute */
	top: 0px; /* changed from -100px, -13% */
	/* display: flex; */
	justify-content: center; /* to align items horizontally */
	/* align-items: center; */ /* to allign items vertically */
	color: grey;
	display: none;
	height: 100%; /* 113% */
	z-index: 2000;
}

.photoUploadContent {
	width: 500px;
	height: 570px;
	background-color: #CCC;
	border-radius: 4px;
	/* text-align: center; */
	padding: 20px;
	/* position: fixed; */ /* changed from relative */
	z-index: 2000;
	/* overflow-y: scroll; */
	/* top: 10px; */
	margin-top: auto;
	margin-bottom: auto;
}

.closePhotoUploadModal {
	position: fixed; /* changed from absolute */
	top: 5px;
	/* Set the modal-content positioning to relative and then the close-btn positioning to absolute so that the + will be able to within the modal-content div */
	right: 110px;
	font-size: 45px;
	transform: rotate(45deg);
	cursor: pointer;
	color: #A51300;
}

.avatarUploadModal {
	width: 100%;
	/* height: 100%; */ /* height is set when image is clicked */
	/* We use rgba on the background-color here so that the child element will not inherit the its properties */
	/* background-color: black; */
	background-color: rgba(0, 0, 0, 0.5);
	/* opacity: 0.7; */
	position: fixed; /* absolute */
	top: 0px; /* changed from -100px, -13% */
	/* display: flex; */
	justify-content: center; /* to align items horizontally */
	/* align-items: center; */ /* to allign items vertically */
	color: grey;
	display: none;
	height: 100%; /* 113% */
	z-index: 2000;
}

.avatarUploadContent {
	width: 500px;
	height: 570px;
	background-color: #CCC;
	border-radius: 4px;
	/* text-align: center; */
	padding: 20px;
	/* position: fixed; */ /* changed from relative */
	z-index: 2000;
	/* overflow-y: scroll; */
	/* top: 10px; */
	margin-top: auto;
	margin-bottom: auto;
}

.closeAvatarUploadModal {
	position: fixed; /* changed from absolute */
	top: 5px;
	/* Set the modal-content positioning to relative and then the close-btn positioning to absolute so that the + will be able to within the modal-content div */
	right: 110px;
	font-size: 45px;
	transform: rotate(45deg);
	cursor: pointer;
	color: #A51300;
}

.bg-modal {
	width: 100%;
	height: 100%;
	/* height: 100%; */ /* height is set when image is clicked */
	/* We use rgba on the background-color here so that the child element will not inherit the its properties */
	/* background-color: black; */
	background-color: rgba(0, 0, 0, 0.5);
	/* opacity: 0.7; */
	position: fixed; /* changed from absolute */
	top: 0px;
	display: flex;
	justify-content: center; /* to align items horizontally */
	align-items: center; /* to allign items vertically */
	color: grey;
	display: none;
	z-index: 2000;
}

.modal-content {
	width: 900px;
	height: 500px;
	background-color: white;
	border-radius: 4px;
	text-align: center;
	padding: 20px;
	position: fixed; /* changed from relative */
	top: 70px;
	z-index: 5;
	overflow-y: scroll;
	/* margin-top: auto;
	margin-bottom: auto; */
}

.close-btn {
	position: fixed; /* changed from absolute */
	top: -15px;
	/* Set the modal-content positioning to relative and then the close-btn positioning to absolute so that the + will be able to within the modal-content div */
	right: 0px;
	font-size: 45px;
	transform: rotate(45deg);
	cursor: pointer;
	color: #A51300;
}

#enlargedAdImg {
	width: 400px;
	height: 400px;
	float: left;
	padding: 10px;
	margin-bottom: 20px;
}

#enlargedAdImgDiv {
	overflow: hidden;
	width: 400px;
	float: left;
}

.adLike {
	margin-bottom:0px;  
	border:none;
	background-color: #FFF;
	margin: 0px 5px;
	display: block;
	/* color: #A51300; */ /* f4b606 */
}

.adLike:hover {
	cursor: pointer;
	font-size: 14px;
}

.imageCaption {
	/* display: none; */
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.fileUpload {
	display: none;
}

.adStatus {
	color: #A51300;
	font-weight: bold;
}

.fileUploadBtn {
	font-size: 15px;
	-webkit-appearance: none;
	/* This will remove the default blue border*/
	outline: none;
	cursor: pointer;
	float: left;
	margin-right: 10px;
}

/* Settings for when the button gets active */
.fileUploadBtn:active {
	background-color: #A513;
	color: #FFF;
}

.fileUploadLabel {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 160px;
}

#imgTypeLabel {
	display: block;
	margin-bottom: 0px;
}

#submitPhotos {
	display: none;
}

#cancelUploadImgs {
	display: none;
}

#previewDiv {
	width: 100%; height: 100%;
	display: none;
	overflow-x: scroll;
}

#imgCaptionModal {
	color: #808080;
	display: block;
	float: left;
	text-align: justify;
}

#modalPhotoBtnDiv {
	float: left;
	padding: 10px;
	display: block;
	width: 460px;
	height: auto;
}

#photoCommentDisplay {
	clear: both;
	height:auto;
	width: 460px;
	background-color:#040D14;
	margin:5px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom: 15px;
	border-radius: 4px;
	text-align: left;
}

#feedback {
	margin-left: 10px;
	display: block;
}

#totalComments {
	margin-left: 10px;
	display: block;
}

#photoComments {
	margin: 10px 10px;
	height: 400px;
	overflow-y: scroll;
}

#submitPhotoComment {
	display: block;
	margin-top: 10px;
}

#commentTextarea {
	width: 564px;
	border-radius: 5px;
	height: 17px;
	padding: 3px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: small;
	height: 17px;
	width: 100%;
}

#editPhoto {
	display: block;
	clear: left;
	margin-bottom: 10px;
}

#photoCaptionBox {
	border: solid 2px #808080;
	border-radius: 4px;
	display: none;
	padding: 5px 10px;
}

#deletePhoto {
	display: block;
}

#changeCaption {
	display: none;
	margin-bottom: 10px;
}

.captionResult {
	display: block;
	color: #808080;
	text-align: justify;
	margin-top: 0px;
}

#captionResultDiv {
	display: none;
	width: 360px;
	height: auto;
	border: solid 2px #808080;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
}

#captionInfo {
	display: block;
	font-weight: 8px;
	margin: 0px;
	color: #808080;
	text-align: justify;
	
}

.cus-ad-image {
	display: block;
	width: 200px;
	height: 200px;
}

.captionText {
    width: 140px; /* changed from 280px */
    border: solid 2px #808080;
    border-radius: 4px;
}

.inputText {
	width: 97%;
	border: solid 2px #808080;
	border-radius: 4px;
	padding: 3px;
	color: #808080;
}

.CollapsiblePanelTabHover, .CollapsiblePanelOpen .CollapsiblePanelTabHover {
	background-color: #CCC;
	color: #fff
}

/* .CollapsiblePanelTabHover{
	background-color: #040D14;
	color: #fff;
} */

.selectStyle {
	padding-left: 10px;
}
#otherTown {
	display: none;
}

.submitBtn {
	margin-top: 5px;
}

.timeUL {
	overflow: hidden;
	padding-left: 10px;
}

#setAdPhoto {
    display: block;
    margin: 10px 0px;
}

#notifyMessage {
	display:none; 
	text-align:justify; 
	color:#A51300;
}

#uploadPhotoEdit {
	margin: auto;
	width: 100%; /* changed from 350px */
	border-radius: 4px;
	border: thin solid grey;
}

.clearBtn {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

.profileInput {
	margin: 0px;
	display: inline;
}

#validateNumber {
	color: #A51300; 
	margin: 0px;
	margin-left: 10px;
	display: inline;
}

#enterTokenDiv {
	display: none;
}

.profileULStyle {
	padding-left: 0px;
	overflow: hidden;
	margin: 0px;
}

.profileLIStyle {
	float:left; 
	padding-right:10px; 
	list-style-type:none;
}

.checkBoxLabel {
	margin-right: 20px;
}

#toHomePage {
	display: inline-block;
	margin: 10px 10px 10px 20px;
}

#advertise {
	background-color: #A51300; color: #FFF;
	margin: 10px 10px; cursor: pointer;
}

#cancelAdvertising {
	background-color: #FFF; color: #043E6A;
	border: thin solid #043E6A;
	margin: 10px 10px; cursor: pointer;
}

#cancelAdInfo {
	display: inline-block; color:green; margin: 10px 10px;
	padding: 5px; text-align: center;
}

#beginAdInfo {
	display: inline-block; color: #A51300; margin: 10px 10px;
	padding: 5px; text-align: center;
}

.submitClearBtnDiv {
	margin-top: 5px;
	display: block;
	clear: both;
}

.hideElement {
	display: none;
}

.weekday {
	clear:both;
	color: #000;
	font-size: medium;
	margin-bottom: 10px;
	margin-top: 0px;
}


.imgCaptionDivCSS {
	display: inline-block; 
	width:auto; height:auto;
	padding: 5px; 
	border: thin solid gray; 
	margin: 10px;
}

.imgCanvasCSSWidth {
	width:200px; height:200px; display: grid; align-items: center;
}

.imgCanvasStyle {	
	width:200px; height:200px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* .delPreviewImg {
	display: inline-block;
    transform: rotate(45deg);
    margin: 5px 0 5px 7px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
} */

.delPreviewImg {
	display: inline-block;
	margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.rotateBtn {
	display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
}

/**************************************************
	Responsive CSS for tablet platform 
***************************************************/
@media only screen and (max-width: 1000px) {
	.TabbedPanelDiv {
	    width: auto;
	}

	#comments {
		height: auto;
	}

	.availabilityForm {
	}

	.displayAppointments {
		min-height: 230px;
		float: none;
		margin: 0px auto;
		width: auto;
	}

	.appointmentRequestList {
	    min-height: auto;
	    float: none;
	    margin: 10px auto;
	}

	.setUserAppointment {
	    width: auto;
	}

	.acceptedAppointmentList {
	    min-height: auto;
	    float: none;
	    margin: 10px auto;
	}

	.userAppointDetails {
	    width: auto;
	}

	.feedbackInput {
		width: 100%;
		border-radius: 3px;
	}

	.meta-info {
	    display: block;
	    float: none;
	}

	.close-btn {
	    position: absolute;
	    top: -5px;
	    right: 5px;
	}

	.modal-content {
	    width: 400px;
	    height: 98%;
	    padding: 5px;
	    overflow-y: auto;
	    overflow-x: hidden;
	    position: fixed; /* changed from relative */
	    top: 0px; /* changed from 300px */
	}

	#enlargedAdImgDiv {
		width: auto;
		float: none;
	}

	#enlargedAdImg {
	    width: 390px;
	    height: 390px;
	    padding: 5px;
	}

	#modalPhotoBtnDiv {
	    padding: 5px;
	    width: 390px;
	    float: none;
	}

	.bg-modal {
		/* top: -100px;  changed from -50px 
		z-index: 2000; */
	}

	#photoCaptionBox {
		width: 100%;
	}

	#photoCommentDisplay {
		width: auto;
	}
}

@media only screen and (max-width: 700px) {
	.availabilityForm {
	    float: none;
	    margin: 0px auto;
	}

	.displayAppointments {
		float: none;
	}
}

@media only screen and (max-width: 630px) {
	#comments {
	    width: auto;
	}

	.replyTextarea, .replyTextarea2 {
	    width: 100%;
	}
}

@media only screen and (max-width: 600px) {	
	#toHomePage {
		margin-left: 10px;
	}
}

/***************************************************
	Responsive CSS for mobile platform using the max
	with to the height of the phone incase it is 
	rotated 
****************************************************/
@media only screen and (max-width: 480px) {
	#comments {
		height: auto;
	    width: auto;
	}

	.replyTextarea, .replyTextarea2 {
	    width: 100%;
	}

	.availabilityForm {
		float: none;
		margin: 0px auto;
	}


	.displayAppointments {
		width: 230px;
		min-height: auto;
		float: none;
	}

	.appointmentRequestList {
	    width: auto;
	    min-height: auto;
	    float: none;
	}

	.setUserAppointment {
	    width: auto;
	}

	.acceptedAppointmentList {
	    width: auto;
	    min-height: auto;
	    float: none;
	    margin-top: 20px;
	}

	.userAppointDetails {
	    width: auto;
	}

	.feedbackInput {
		width: 100%;
		border-radius: 3px;
	}

	.meta-info {
	    display: block;
	    float: none;
	}

	.close-btn {
	    position: absolute;
	    top: -5px;
	    right: 5px;
	}

	.modal-content {
	    width: 300px;
	    height: 98%;
	    padding: 5px;
	    overflow-y: auto;
	    overflow-x: hidden;
	    position: fixed;
	    top: 0px;
	}

	#enlargedAdImg {
	    width: 290px;
	    height: 290px;
	    padding: 5px;
	}

	#modalPhotoBtnDiv {
	    padding: 5px;
	    width: auto;
	}

	.bg-modal {
		/* top: -100px;
		z-index: 2000; */
	}

	#photoCaptionBox {
		width: 100%;
	}

	.photoUploadModal, .avatarUploadModal {		
		position: absolute;
		top: -13%; 
		height: 113%;
		z-index: 2000;
	}

	.photoUploadContent, .avatarUploadContent {
		width: 100%;
		height: 113%;
		padding: 20px;
		padding-left: 0px;
		padding-right: 0px;
		position: fixed; /* changed from relative */
		z-index: 2000;
		/* overflow-y: scroll; */
		top: 0px;
		left: 0px;
	}
}

@media only screen and (max-width: 414px) {	
	
}

@media only screen and (max-width: 366px) {	
	#uploadPhotoEdit {
		width: auto;		
	}

	.captionText {
	    width: 236px;
	}

	#toHomePage {
		margin-bottom: 10px;
	}
}