/*
Blue: #2B506C(normal), #4B83AE(lighter), #8DA2C9(lighter2) #79838A(lightest), #C0C4C6(lightest), #043E6A(Darker), #040D14(Darkest), #87ceeb(skyblue)
Complementary
Red: #A8493C(lightest), #D7BDB9(lighter), #FF7664(normal), #A51300(Darker), #7F0000(Darker), #1E0704(Darkest)
Yellow: #D7D4B9(lightest), #FFF264(lighter), #AAA039(normal), #A59700(Darker), #1E1C04(Darkest)
*/

#container {
	background-color: #FFF;
	height: auto;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	text-align: left;
	border: thin solid #FFF;
}
#mainContacts {
	height: auto;
	width: 960px;
	background-color: #fff;  /* #040D14 */
	padding: 10px;
	color: gray;
	overflow: hidden;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.linkStyleButton {
	color: #fff;
	/* font-family: "proxima nova"; */
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	border: solid 2px #fff;
	border-radius: 5px;
	padding: 2px 10px;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
	text-decoration: none;
}

.linkStyleButton:hover {
	background-color: #A51300;
	color: #fff;
}
.linkBtnDiv {
	margin-top: 15px;
}
.deleteLinkBtn {
	margin-top: 15px;
}
.deleteLinkBtn>a {
	color: #fff;
	/* font-family: "proxima nova"; */
	font-size: 12px;
	text-decoration: none;
}
.deleteLinkBtn>a:hover {
	color: #A51300;
}

.termsBtn {
	color: gray;
	font-weight: bold;
	// font-size: 16px;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
	text-decoration: none;
}

.termsBtn:hover {
	// background-color: #A51300;
	color: #A51300; // changed from #A51300
}


/**************************************************
	Responsive CSS for tablet platform 
***************************************************/
@media only screen and (max-width: 800px) {
	#container {
		width: auto;
	}
	
	#mainContacts {
		width: auto;
	}
}


/***************************************************
	Responsive CSS for mobile platform using the max
	with to the height of the phone incase it is 
	rotated 
****************************************************/
@media only screen and (max-width: 480px) {
	#container {
		width: auto;
	}

	#mainContacts {
		width: auto;
	}
}